.RightPane {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  grid-template-rows: auto 1fr auto;

  .conversation-header {
    padding-inline: 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    .IconButton {
      @media (min-width: 650px) {
        display: none;
      }
    }
  }

  .messages {
    overflow-y: auto;
    padding: 8px;
    justify-items: start;
    align-content: start;
    gap: 8px;
    grid-template-rows: auto;
  }
}
